<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>File Uploaded</h1>
        <p>
            @Model.Message
        </p>
        <p>
            <a href='/'>Go Back</a>
        </p>
    </body>
</html>